{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}


<section class="section appoinment">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <div class="divider mx-auto my-4"></div>
                    <p class="mb-5">Farmatsevtika ishlab chiqaruvchilarni ro'yhatga olish
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 ">
                <div class="appoinment-content">
                    <img src="{% static 'images/about/img-3.jpg' %}" alt="" class="img-fluid">
                    <div class="emergency">
                        <h2 class="text-lg"><i class="icofont-phone-circle text-lg"></i> 99 549 31 31</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 ">
                <div class="appoinment-wrap mt-5 mt-lg-0">
                    <h2 class="mb-2 title-color">TASHKILOTNI QO'SHING
                    </h2>
                    <p class="mb-4">Agar siz Dori-Darmon ishlab chiqaruvchisi bo'lsanggiz quyidagi shaklni to'ldiring
                        Admin tekshiruvidan keyin sizning Brendinggiz ommaga tadbiq etiladi.
                    </p>
                    <form id="#" class="appoinment-form" method="post" action="{% url 'clinic-create' %}">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="name" id="name" type="text" class="form-control" placeholder="Nomi">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="official_name" id="official_name" type="text" class="form-control"
                                        placeholder="Yuridik nomi">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="brand_name" id="brand_name" type="text" class="form-control"
                                        placeholder="Brend nomi">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="sector_category" id="sector_category" type="text" class="form-control"
                                        placeholder="Kompaniya faoliyat sohasi">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="address" id="address" type="text" class="form-control"
                                        placeholder="Manzili">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="phone" id="phone" type="tel" class="form-control"
                                        placeholder="Telefon raqam">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="email" id="email" type="email" class="form-control"
                                        placeholder="Email manzili">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="faks" id="faks" type="text" class="form-control" placeholder="Faks">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input name="city_code" id="city_code" type="number" class="form-control"
                                        placeholder="Shahar kodi">
                                </div>
                            </div>

                        </div>

                        <input class="btn btn-main btn-round-full" type="submit" value="Yuborish">
                        </input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}