{% load static %}

<!-- bootstrap.min css -->
<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
<!-- Icon Font Css -->
<link rel="stylesheet" href="{% static 'plugins/icofont/icofont.min.css' %}">
<!-- Slick Slider  CSS -->
<link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick-theme.css' %}">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">