<!-- footer Start -->
<footer class="footer section gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mr-auto col-sm-6">
                <div class="widget mb-5 mb-lg-0">

                    <h2 style="color: #07077ece;"><a href="#">Dori-darmon sanoat</a></h2>
                    <p> Farmatsevtika ishlab chiqaruvchilarni ro'yhatga olish axborot tizimi.
                    </p>

                    <ul class="list-inline footer-socials mt-4">
                        <li class="list-inline-item"><a href="https://www.instagram.com/it__pro"><i
                                    class="icofont-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://t.me/IT_PRO_ROBOT"><i
                                    class="icofont-telegram"></i></a></li>
                        <li class="list-inline-item"><a href="https://youtube.com/channel/UCy5iPj3kDkZGWGqlgGkzoIw"><i
                                    class="icofont-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget widget-contact mb-5 mb-lg-0">
                    <h4 class="text mb-3">Biz bilan bog'lanish
                    </h4>
                    <div class="divider mb-4"></div>

                    <div class="footer-contact-block mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-email mr-3"></i>
                            <span class="h6 mb-0">Dush-Juma: 08:30-19:00</span>
                        </div>
                        <h4 class="mt-2"><a href="mailto:adminfarm@gmail.com">adminfarm@gmail.com
                            </a></h4>
                    </div>

                    <div class="footer-contact-block">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-support mr-3"></i>
                            <span class="h6 mb-0">Dush-Juma: 08:30-19:00</span>
                        </div>
                        <h4 class="mt-2"><a href="tel:+998 99 549 31 31">+998 99 549 31 31</a></h4>
                    </div>
                </div>
            </div>
        </div>


    </div>
</footer>