{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<style>
	.cusotom_clint_img {
		width: 100%;
		height: 100%;
	}
</style>

<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<h1 class="mb-3 mt-3">Dori-darmon sanoat</h1>

					<p class="mb-4 pr-5">O'zbekiston respublikasida dori-darmon (farmatsevtika) ishlab chiqaruvchilarini
						ro'yhatga olish axborot tizimi</p>
					<div class="btn-container ">
						<a href="{% url 'contact' %}"" class=" btn btn-main-2 btn-icon btn-round-full">
							Bog'lanish
							<i class="icofont-simple-right ml-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
						</div>
						<span>24 soat online aloqa
						</span>
						<h4 class="mb-3">Online uchrashuv
						</h4>
						<p class="mb-4">Admin bilan istalgan vaqtda bog'lanish o'zinggizni qiziqtirgan savol va
							takliflarni berishinggiz mumkin.
						</p>
						<a href="{% url 'contact' %}" class="btn btn-main btn-round-full">Bog'lanish</a>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						<h4 class="mb-3">Ish vaqti
						</h4>
						<ul class="w-hours list-unstyled">
							<li class="d-flex justify-content-between">Yakshanba - Chorshanba : <span>8:00 -
									17:00</span></li>
							<li class="d-flex justify-content-between">Seshanba - Juma : <span>9:00 - 17:00</span></li>
							<li class="d-flex justify-content-between">Payshanba - Yakshanba : <span>10:00 -
									17:00</span></li>
						</ul>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-support"></i>
						</div>
						<span>Favqulotda Adminstrator bilan bog'lanish.</span>
						<h4 class="mb-3">+998 99 549 31 31 </h4>
						<p>Agar sizda favqulotda holatlar yuzaga kelsa admin bilan bog'laning</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="cta-section ">
	<div class="container">
		<div class="cta position-relative">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-doctor"></i>
						<span class="h3">50</span>k
						<p>Kuzatuvchilar
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-flag"></i>
						<span class="h3">700</span>+
						<p>Foydalanuvchilar</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-badge"></i>
						<span class="h3">40</span>+
						<p>Ishlab chiqaruvchilar</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-globe"></i>
						<span class="h3">20</span>
						<p>Biznes hamkorlar
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section service gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Bizda faqat Sog'liqni saqlash vazirligi tomonidan ro'yhatga olingan ishlab chiqaruvchilar
					</h2>
					<div class="divider mx-auto my-4"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Ishonchli labaratoriyalar
						</h4>
					</div>

					<div class="content">
						<p class="mb-4">Davlat tashkilotlari tomonidan ro'yhatga
							olingan labratoriyalar.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-heart-beat-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Yurak qon-tomor kasalliklari.
						</h4>
					</div>
					<div class="content">
						<p class="mb-4">Yurak qon-tomir kasalliklari uchun
							dori-darmon ishlab chiqaruvchilar..</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-tooth text-lg"></i>
						<h4 class="mt-3 mb-3">Tish kasalliklari
						</h4>
					</div>
					<div class="content">
						<p class="mb-4">Tish kasallillari uchun dori-darmon, xom-ashyo
							ishlab chiqaruvchilari.</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-crutch text-lg"></i>
						<h4 class="mt-3 mb-3">Nogironlik.</h4>
					</div>

					<div class="content">
						<p class="mb-4">Nogironligi bo'lgan shahslar uchun tibbiy-ijtimoiy
							yordam.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-brain-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Nevrologik kasalliklar.
						</h4>
					</div>
					<div class="content">
						<p class="mb-4">Nervologik davolash uchun qo'llaniladigan
							dori darmon ishlab chiqaruvchilar.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-dna-alt-1 text-lg"></i>
						<h4 class="mt-3 mb-3">Gnekologiya.</h4>
					</div>
					<div class="content">
						<p class="mb-4"> Ayollarda uchraydiga gnekologik kasalliklarni davolashda
							ishlatiladigan dori-darmon ishlab chiqaruvchilari.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="contact-form-wrap section" id="contact">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center">
					<h2 class="text-md mb-2">Biz bilan bog'laning</h2>
					<div class="divider mx-auto my-4"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<form id="contact-form" class="contact__form" method="POST" action="{% url 'contact' %}">
					{% csrf_token %}

					<!-- form message -->
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<input name="name" id="name" type="text" class="form-control" placeholder="Ismingiz"
									required>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="form-group">
								<input name="email" id="email" type="email" class="form-control"
									placeholder="Email manzilingiz" required>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<input name="subject" id="subject" type="text" class="form-control" placeholder="Mavzu"
									required>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<input name="phone" id="phone" type="text" class="form-control"
									placeholder="Telefon raqam" required>
							</div>
						</div>
					</div>

					<div class="form-group-2 mb-4">
						<textarea name="message" id="message" class="form-control" rows="8" placeholder="Xabar"
							required></textarea>
					</div>

					<div class="text-center">
						<input class="btn btn-main btn-round-full" name="submit" type="submit" value="Yuborish"></input>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


<section class="section clients">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>HAMKORLARIMIZ</h2>
					<div class="divider mx-auto my-4"></div>
					<p>O'zbekiston Respublikasi Sog'liqni saqlash vazirli, davlat idoralari</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row clients-logo">

			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/IMAGE 2024-05-14 23:01:13.jpg' %}" alt="clints"
						class="cusotom_clint_img">
				</div>
			</div>

			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/IMAGE 2024-05-14 23:01:18.jpg' %}" alt="clints"
						class="cusotom_clint_img">
				</div>
			</div>

			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/IMAGE 2024-05-14 23:01:21.jpg' %}" alt="clints"
						class="cusotom_clint_img">
				</div>
			</div>

			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="{% static 'images/about/IMAGE 2024-05-14 23:01:23.jpg' %}" alt="clints"
						class="cusotom_clint_img">
				</div>
			</div>

		</div>
	</div>
</section>

{% endblock %}